html {
  background-color: #c9b5ab;
  font-family: PT Serif;
  line-height: 1.125;
  width: 100%;
}

nav ol {
  list-style-type: none;
}

nav a{
  color: #8f2440;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: bold;
}

nav a:hover {
color: #b42885;
text-decoration: underline
}

img {
  width: 100%;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  text-align: center;
}

h1 {
  color: #222;
  font-family: PT Sans;
}

h2 {
  color: #3f1622;
}

.germination {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}

.blockquote {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}
.cite {
  font-size: .8rem;
}
