html {
  background-color: #c9b5ab;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  width: 100%;
}

nav ol {
  list-style-type: none;
}

nav a {
  color: #8f2440;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: bold;
}

a:hover {
  color: #b42885;
  text-decoration: underline;
}

img {
  width: 100%;
}

figcaption {
  font-family: "PT Serif", sans-serif;
  font-style: italic;
  text-align: center;
}

h1 {
  color: #3f1622;
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  color: #3f1622;
}

.germination {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
}

.habits {
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  font-style: italic;
}

.chris {
  font-size: .8rem;
  font-style: italic;
  font-weight: bold;
}
